:root {
    --mgs-primary-color : #007bff;
    --mgs-primary-gradient-color : linear-gradient(135deg, #007bff, #00b4d8);
    --mgs-primary-box-shadow :0 4px 12px rgba(0, 123, 255, 0.3);
    --mgs-primary-light-layer : rgba(123,255,100,0.1);

    --mgs-secondary-color : #f6f7f7;

    --mgs-primary-color-hover: #01a6de;
    --mgs-primary-gradient-color-hover : linear-gradient(135deg, #0056b3, #0096c7);
    --mgs-primary-box-shadow-hover : 0 8px 20px rgba(0, 123, 255, 0.4)
}